@import "_sliderCard"
// @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light&display=swap');    
//oldBackground = #110c0c
// box-shadow: 0 0 15px 0px white ;
.slider {
    background: transparent;
    width:96%;
    height:70%;
    position: fixed;
    top:15%;
    left:100%;
    border-radius: 30px;
    // text-shadow: 0px 0px 10px grey;
    color:white;
    font-family: 'Shadows Into Light',sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}