.sliderCard {
    // border: 2px solid white;

    height:90%;
    width:20%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imageContainer{
        width:14vw;
        height:14vw    
    }

    img{
        background: white;    
        width: 14vw;
        height: 14vw;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 15px 5px white ;

    }

    .sliderText {
        margin-top:4vw;    
    }
}

