@keyframes blink {
    100% {
        opacity:1;    
    }    
}

#toBeContinued {
    position:fixed;
    top:50%;
    left:50%;
    opacity:0.2;
    text-transform: uppercase;
    transform: translate(-50%, -50%)
    font-family: 'Permanent Marker', cursive;
    font-size: 4vw;
    animation: blink 2s linear alternate infinite;
    text-shadow: 0 0 15px #6658e2;
}